

.about-section {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    color: white;
    line-height: 1.7;
    font-family: "Poppins", sans-serif;
    text-align: left;

  }

  .about-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    max-width: 1100px;
    gap: 40px;
  }


  #music_link {

    font-size: .5rem;
    text-decoration: underline;
    
  }

  .about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    filter: grayscale(100%);
    
 
  }

  .about-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px goldenrod;
  }

  .about-content {
    flex: 1 1 500px;
    max-width: 600px;
  }

  .about-content h2 {
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: black;
  }

  .about-content h2 span {
    color: #000;
    background-color: white;
  }

  .about-content h4 {
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
  }



  .about-content h3 {
    font-weight: 500;
    color: #ddd;
    margin-bottom: 25px;

  }

  .about-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ccc;
    text-transform: none;
  
  }

  .about-quote {
    margin-top: 30px;
    padding: 20px;
    border-left: 4px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-style: italic;
  }

  .about-quote em {
    color: white;
  }

  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      padding: 5%;
      
    }

    .about-image img {
      width: 250px;
      height: 250px;
    }

    .about-content h2 {
      font-size: 1.5rem;
    }

    .about-quote {
      border-left: none;
      border-top: 3px solid #43b7ff;
    }

    .about-content h3 {
      font-weight: 500;
      color: #ddd;
      margin-bottom: 25px;
      font-size: .7rem;
      
      
    }

    .about-content p {
      font-size: .9rem;
   
    
    }
  }