
  /*--*HEADER > LOGO > NAV > LINKS > QUOTE*-------------------------------------------------------*/

  header {
    /*Structure*/
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1%;
   

    /*Art*/
    min-height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 2px solid #020202;
    
  }
  
 /*--*LOGO*-------------------------------------------------------*/
 .logo_image {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulseHipHop 1.5s infinite;
  max-width: 100px;
}

@keyframes pulseHipHop {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px #fff);
  }
  25% {
    transform: scale(1.1) rotate(-2deg);
    filter: drop-shadow(0 0 10px #e6b30c);
  }
  50% {
    transform: scale(1.15) rotate(2deg);
    filter: drop-shadow(0 0 20px #ffffff);
  }
  75% {
    transform: scale(1.1) rotate(-1deg);
    filter: drop-shadow(0 0 10px #e6b30c);
  }
  100% {
    transform: scale(1) rotate(0deg);
    filter: drop-shadow(0 0 0px #fff);
  }
}

  
  .logo_nkosi {
    display: flex;               
    align-items: center; 
    place-self: center; 
    padding: 1%;
    gap: 0.25rem;                
    font-size: clamp(1rem, 4vw, 1.2rem);
    
  }
  
  .logo_nkosi .copyright {
    font-size: 0.9em;            
    opacity: 0.8;   
    margin-top: 10px;
  }
  
  
  .logo_image img {
    width: 125px;
    height: auto;
  }
  
  .logo_nkosi a {
    color: black;
    transition: color 0.4s ease, background-color 0.3s ease;
  }

  .logo_nkosi a:hover {
    color: goldenrod;
    filter: drop-shadow(3px 0 2px #000);
  }


/*--NAV > MENU*-------------------------------------------------------*/

  /* Dropdown Menu */
  nav {
    
    position: relative;
    cursor: pointer;
    padding: 1%;
    max-width: 75px;
    left: 50%;
    padding: 1rem;
 

  }
  
  /*
  .dropdown span {
    font-size: 1.5rem;
  }
  */
  
  .dropdown-menu {
    opacity: 0;                /* invisible initially */
    visibility: hidden; 
    position: absolute;
    left: 0; 
    top: 100%; 

   
    width: 100%;
    background-color: rgba(0,0,0,0.8);

    border: 1px solid goldenrod;
    z-index: 2;

    transition: opacity 0.3s ease, transform 0.8s ease;
    transform: translateY(-10px); /* slide up initially */
    border-radius: 8px;
 
    text-shadow:
    0 0 .5px #FFD700,
    0 0 1px #FFD700,
    0 0 2px #FFA500,
    0 0 4px #FFA500; 

    box-shadow:
    0 0 1px #FFD700,
    0 0 2px #FFD700,
    0 0 5px #FFA500,
    0 0 7px #FFA500; 
}


  
  .dropdown-menu a {
    display: block;
    align-items: center;
    text-align: center;
    padding: 12px 16px;

    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: rgba(255,255,255,0.1);
  }
  
  nav:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* slide into place */

    
  }

  #bars {

    font-size: 2rem;
  }



